<h1 style="text-align: center;"> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h1>
    <h2> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h2>
 <a href="https://www.w3schools.com">   <h3> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h3> </a>
    <h4 style="color: blue;"> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h4>
    <h5> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h5>
    <h6> MIKAEL IS THE BEST!!!!!!!!!!!!!!!!!!!!!! </h6>
    
<a  style="text-align: center;" href="https://www.google.com/search?sca_esv=2386da0e1e038e73&sca_upv=1&rlz=1C1GCEA_enCA1084CA1084&sxsrf=ACQVn0_JOsl_rlP-pIbdFFz-ee4wfKjjOg:1713720772142&q=sonic&uds=AMwkrPuurAXqxNouqA_OXBEs5-ypCmtY08DTPCjNU9bP8614kNiPJIkylpyNyA5Rf9a2DLmvcXc9VMevBcgI38AzndQOXiNP5hoYir9RasviqfTcInSkXl4mg0ie8mf6TaJipF4gRnlSuH4sfZBEY1O1EHOEnYzKpg_czobVIdy1xuKd4qQ_3JHtEL8lZdl2IdRyFefgqVqRFqV5jIbCPUdPD580tCXJnLQR5lD8fxeLYU-_i5QXd_YokLiGOiXGdQrK4IA-I6P2IcdkWx5xpJhiVr1_4d7-ybjSGo0beVCe69Z5cCHBlKA&udm=2&prmd=ivnsmbtz&sa=X&ved=2ahUKEwjQm_iu69OFAxX-kIkEHbywCcUQtKgLegQIDBAB&biw=1536&bih=729&dpr=1.25&safe=active&ssui=on#vhid=yQBi0y9A2FNdwM&vssid=mosaic" >
<img src= 'https://static.wikia.nocookie.net/sonic/images/f/f9/SS_McD_Sonic_02.png' alt = "sonic" 
width ="700" height = "700">
</a>
<p> hi this is mikael writing this message. as you can see i am the best and that is very true. 
    i tell you there is nobody in this universe that is cooler then me. i like playing cricket and soccer and ping pong.
that is all i will tell you today goodbye SIKE!! i will nevr go away. </p>
